.form {
    margin: 0 auto 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form select{

    border: 1px solid #CCC;
    color: #999;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
}

.form label {
    font-weight: bold;
}