.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    margin-bottom: 1rem;
    transition: all ease 0.3s;
  }

  .card:hover {
    box-shadow: 5px 5px 8px wheat

  }